// About Page
.about-page {

  // Navbar Spacer
  & .navbar-spacer {
    height: 10vh;
    @media (max-width: 768px) {
      height: 20vh;
    }
  }

  // Section 1
  & .section-1-row {
    background-color: $primary-color;
    color: $quinary-color;
    padding: calc(1rem + 6vw);
    & .section-1-header {
      font-size: calc(1.5rem + 1vw);
      margin-bottom: calc(1rem + 0.25vw);
      text-align: center;
    }
    & .section-1-paragraph {
      font-size: calc(1rem + 0.1vw);
    }
  }
  & .img-col {
    padding: 0;
  }
  & .rns-logo {
    display: block;
    margin: auto;
    width: 35vw;
    @media (max-width: 768px) {
      width: 80vw;
    }
  }
  @media (max-width: 768px) {
    & .row {
      margin: 0;
      padding: 0 !important;
    }
  }
}