// About Page
.about-page {
  padding: 0;

  .row {
    margin: 0;
  }

  // Background Image
  & .about-page-background {
    background-image: 
      linear-gradient(
        rgba(2, 3, 5, 0.25),
        rgba(2, 3, 5, 0.25),
      ),
      url('/static/img/house-01.jpg');
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @extend %background-fixed;
  }

  // Navbar Spacer
  & .navbar-spacer {
    background-color: $primary-color;
    height: calc(10rem + 6vw);
    @media (max-width: 767.98px) {
      height: 20vh;
    }
  }

  // About Headline
  & .about-headline {
    background-color: $primary-color;
    padding: 0 calc(1rem + 0.5vw) calc(1rem + 0.5vw) calc(1rem + 0.5vw);
    & h1 {
      color: $quinary-color;
      font-size: calc(1.5rem + 1vw);
      margin: auto;
      text-align: center;
    }
  }

  // Section 1
  & .section-1-row {
    background-color: $primary-color;
    color: $quinary-color;
    padding: 0 calc(1rem + 6vw) calc(1rem + 6vw) calc(1rem + 6vw);
    & .section-1-header {
      font-size: calc(1rem + 1vw);
      margin-bottom: calc(1rem + 0.25vw);
      text-align: center;
    }
    & .section-1-paragraph {
      font-size: calc(1rem + 0.1vw);
    }
  }
  & .img-col {
    padding: 0;
  }
  & .rns-logo {
    display: block;
    margin: auto;
    width: 20vw;
    @media (max-width: 767.98px) {
      width: 70vw;
      margin-bottom: calc(2rem + 1vw);
    }
  }
}