$primary-color: white;
$secondary-color: #F3D333;
$tertiary-color: #6D6951;
$quarternary-color: #4D3F22;
$quinary-color: #182013;
$senary-color:#020305;

$primary-color-rgba: rgba(255, 255, 255, 0.8);
$secondary-color-rgba: rgba(243, 211, 51, 0.8);
$tertiary-color-rgba: rgba(109,105,81, 0.8);
$quarternary-color-rgba: rgba(77,63,34, 0.8);
$quinary-color-rgba: rgba(24,32,19, 0.8);
$senary-color-rgba: rgba(2, 3, 5, 0.8);

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}