// Contact Page
.contact-page {
  padding: 0;
  & .row {
    margin: 0;
  }

  // Contact Page Background Image
  & .contact-page-background {
    @extend %background-image;
    @extend %background-fixed;
  }

  // Navbar Spacer
  & .navbar-spacer {
    @extend %navbar-spacer;
  }

  // Contact Headline
  & .contact-headline {
    background-color: $primary-color;
    padding: calc(1rem + 0.5vw);
    & h1 {
      color: $quinary-color;
      font-size: calc(1.5rem + 1vw);
      margin: auto;
      text-align: center;
      & .h1-brand-font {
        color: $secondary-color;
        font-family: "Stencil", "Segoe UI", sans-serif;
      }
    }
  }

  // Section 1, Contact Form
  & .section-1-row {
    background-color: $primary-color;
    color: $quinary-color;
    height: max-content;
    padding: calc(0.25rem + 3.75vw);
    text-align: center;
    & .section-1-text {
      & .section-1-text-headline {
        font-size: calc(1rem + 1.5vw);
        font-weight: 700;
        margin-bottom: calc(2rem + 0.5vw);
        & .section-1-text-headline-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 800;
        }
      }
      & .section-1-text-paragraph {
        font-size: calc(1rem + 0.5vw);
        & .section-1-text-paragraph-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 700;
        }
      }
      & .section-1-text-paragraph-urgent {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
      }
      & .section-1-text-paragraph-email {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        & .icon-email {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quinary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
      & .section-1-text-paragraph-phone {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        margin-bottom: calc(1rem + 1vw);
        & .icon-phone {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quinary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
    }
  }
}