// Index Page
.index-page {

  // Landing Page
  & .landing-page-row {
    position: relative;
    & .landing-page-background {
      background-image: 
        linear-gradient(
          rgba(2, 3, 5, 0.5),
          rgba(2, 3, 5, 0.5),
        ),
        url('/static/img/house-01.jpg');
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @extend %background-fixed;
    }
    & .landing-page-placeholder {
      height: 90vh;
      width: 100%;
    }
  }

  & .landing-page-headline {
    align-items: center;
    background-color: $senary-color-rgba;
    color: $primary-color;
    display: flex;
    font-size: calc(1rem + 0.25vw);
    font-style: italic;
    height: 10vh;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  // Section 1, Cards
  $section-1-hover-transition: 0.2s ease-in;

  & .section-1-row {
    background-color: $primary-color;
    height: max-content;
    padding: 0 calc(1rem + 6vw);
    & .card {
      border: 0;
      border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
      display: inline-flex;
      margin: calc(2rem + 0.5vw) auto;
      transition: $section-1-hover-transition;
      & .card-background-fence-cleaning {
        background-image: url('/static/img/fence-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-surface-cleaning {
        background-image: url('/static/img/walkway-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-soft-wash {
        background-image: url('/static/img/house-04.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-outdoor-stain-removal {
        background-image: url('/static/img/rusty-wall-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-deck-cleaning-and-restoration {
        background-image: url('/static/img/deck-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-body {
        color: $quinary-color;
        font-size: calc(1rem + 0.25vw);
        font-weight: 700;
        padding: calc(0.25rem + 0.25vw) 0 0 0;  // padding: 20px by default
        text-align: center;
        transition: $section-1-hover-transition;
      }
      & .card-link {
        height: max-content;
        padding-bottom: calc(0.5rem + 0.25vw);
        & .card-link-text {
          color: $quinary-color;
          font-size: calc(1rem + 0.25vw);
          margin-right: calc(0.5rem + 0.5vw);
          position: relative;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $quinary-color;
          height: calc(1rem + 0.25vw);
          stroke: $primary-color;
          transition: $section-1-hover-transition;
        }
      }
      &:hover {
        cursor: pointer;
        & .card-body {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .card-link-text {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $secondary-color;
          transition: $section-1-hover-transition;
        }
      }
    }
  }

  // Section 2, Contact Form
  & .section-2-row {
    background-color: $primary-color;
    color: $quinary-color;
    height: max-content;
    padding: calc(0.25rem + 3.75vw);
    text-align: center;
    & .section-2-text {
      & .section-2-text-headline {
        font-size: calc(1rem + 1.5vw);
        font-weight: 700;
        margin-bottom: calc(2rem + 0.5vw);
        & .section-2-text-headline-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 800;
        }
      }
      & .section-2-text-paragraph {
        font-size: calc(1rem + 0.5vw);
        & .section-2-text-paragraph-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 700;
        }
      }
      & .section-2-text-paragraph-urgent {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
      }
      & .section-2-text-paragraph-email {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        & .icon-email {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quinary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
      & .section-2-text-paragraph-phone {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        margin-bottom: calc(1rem + 1vw);
        & .icon-phone {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quinary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
    }
  }
}