// Index Page
.index-page {

  // Landing Page
  & .landing-page-row {
    position: relative;
    & .landing-page-background {
      background-image: 
        linear-gradient(
          rgba(2, 3, 5, 0.5),
          rgba(2, 3, 5, 0.5),
        ),
        url('/static/img/house-01.jpg');
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @extend %background-fixed;
    }
    & .landing-page-placeholder {
      height: 90vh;
      width: 100%;
    }
  }

  & .landing-page-headline {
    align-items: center;
    background-color: $senary-color-rgba;
    color: $primary-color;
    display: flex;
    font-size: calc(1rem + 0.25vw);
    font-style: italic;
    height: 10vh;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  // Section 1
  $section-1-hover-transition: 0.2s ease-in;

  & .section-1-row {
    background-color: $primary-color;
    height: max-content;
    padding: 0 calc(1rem + 6vw);
    & .card {
      border: 0;
      border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
      display: inline-flex;
      margin: calc(2rem + 0.5vw) auto;
      transition: $section-1-hover-transition;
      & .card-background-house-washing {
        background-image: url('/static/img/house-01.jpg');
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-patio-and-deck {
        background-image: url('/static/img/house-02.jpg');
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-graffiti-removal {
        background-image: url('/static/img/house-03.jpg');
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-body {
        color: $quarternary-color;
        font-size: calc(1rem + 0.25vw);
        font-style: italic;
        font-weight: 700;
        padding: calc(0.25rem + 0.25vw) 0 0 0;  // padding: 20px by default
        text-align: center;
        transition: $section-1-hover-transition;
      }
      & .card-link {
        height: max-content;
        padding-bottom: calc(0.5rem + 0.25vw);
        // width: max-content;
        & .card-link-text {
          color: $quarternary-color;
          font-size: calc(1rem + 0.25vw);
          margin-right: calc(0.5rem + 0.5vw);
          position: relative;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $quarternary-color;
          height: calc(1rem + 0.25vw);
          stroke: $primary-color;
          transition: $section-1-hover-transition;
        }
      }
      &:hover {
        cursor: pointer;
        & .card-body {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .card-link-text {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $secondary-color;
          transition: $section-1-hover-transition;
        }
      }
    }
  }

  // Section 3
  & .section-3-row {
    background-color: $primary-color;
    color: $quarternary-color;
    height: max-content;
    padding: calc(0.25rem + 3.75vw);
    text-align: center;
    & .section-3-text {
      & .section-3-text-headline {
        font-size: calc(1rem + 1.5vw);
        font-weight: 700;
        margin-bottom: calc(2rem + 0.5vw);
        & .section-3-text-headline-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 800;
        }
      }
      & .section-3-text-paragraph {
        font-size: calc(1rem + 0.5vw);
        & .section-3-text-paragraph-bold {
          color: $secondary-color;
          font-style: italic;
          font-weight: 700;
        }
      }
      & .section-3-text-paragraph-urgent {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
      }
      & .section-3-text-paragraph-email {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        & .icon-email {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quarternary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
      & .section-3-text-paragraph-phone {
        font-size: calc(1rem + 1vw);
        font-style: italic;
        font-weight: 700;
        margin-bottom: calc(1rem + 1vw);
        & .icon-phone {
          height: calc(1.5rem + 1vw);
          & circle {
            fill: $quarternary-color;
          }
          & path {
            fill: $primary-color;
          }
        }
      }
    }
  }

  // Index Page Modals
  .modal {
    & .btn-free-quote {
      border: none;
      background-color: $primary-color;
      border-radius: calc(0.5rem + 0.1vw);
      color: $quarternary-color;
      font-size: calc(1rem + 0.25vw);
      & .btn-free-quote-highlight {
        font-style: italic;
        font-weight: 700;
      }
      &:hover {
        background-color: $quarternary-color;
        color: $primary-color;
        transition: 0.15s ease-in;
      }
    }
    & .modal-body {
      color: $quarternary-color;
      font-size: calc(1rem + 0.5vw);
    }
    & .modal-content {
      border: 0;
    }
    & .modal-header {
      background-color: $secondary-color;
    }
    & .modal-footer {
      background-color: $secondary-color;
    }
    & .modal-title {
      color: $primary-color;
      font-size: calc(1rem + 0.5vw);
      font-style: italic;
      font-weight: 600;
      & .modal-title-highlight{
        font-weight: 800;
      }
    }
    & .close {
      color: $primary-color;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}