$navbar-transition: 0.2s ease-in;

// Navbar
.navbar {
  background-color: $senary-color;
  border-bottom: 2px solid $secondary-color;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  & .navbar-phone {
    @media (max-width: 1059.96px) {
      display: none;
    }
    @media (min-width: 1060px) {
      color: $primary-color;
      display: block;
      font-size: calc(1.25rem + 0.5vw);
      font-style: italic;
      font-weight: 700;
      left: 35vw;
      position: absolute;
      & .icon-phone {
        height: calc(1rem + 1vw);
        width: calc(1rem + 1vw);
        & circle {
          fill: $primary-color;
        }
        & path {
          fill: $senary-color-rgba;
        }
      }
    }
  }
  & .navbar-toggler {
    & .icon-hamburger {
      height: calc(1rem + 0.5vw);
      width: calc(1rem + 0.5vw);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  & .nav-link {
    color: $primary-color;
    margin: calc(1rem + 0.5vw) auto;
    padding: 0;
    position: relative;
    transition: $navbar-transition;
    width: max-content;
    &::before,
    &::after {
      background-color: $primary-color;
      bottom: calc(-0.1rem - 0.1vw);
      content: "";
      height: calc(0.05rem + 0.1vw);
      position: absolute;
      transition-duration: 0.15s;
      width: 0;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &.active {
      &::before,
      &::after {
        width: 50%;
      }
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
      &::before,
      &::after {
        background-color: $primary-color;
        width: 50%;
      }
    }
    @media (max-width: 767.98px) {
      font-size: calc(1rem + 0.25vw);
    }
    @media (min-width: 768px) {
      font-size: calc(0.75rem + 0.5vw);
    }
  }
  @media (min-width: 768px) {
    height: 100vh;
    transition: $navbar-transition;
    @include senary-color-rgba-background(0.8);
    &.navbar-minimized-false {
      height: calc(#{$navbar-desktop-spacer-height});
      padding: calc(0.5rem + 1vw);
    }
    &.navbar-minimized-true {
      background-color: $senary-color;
      height: calc(#{$navbar-desktop-spacer-height} - 5vh);
      padding: calc(0.25rem + 0.5vw) calc(1.25rem + 1vw);
    }
  }
}

// Navbar "Call Now" Button
.nav-call-now {
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767.98px) {
    background-color: $senary-color;
    border: 2px solid $secondary-color;
    border-radius: calc(1rem + 0.1vw);
    color: $primary-color;
    display: flex;
    font-size: calc(1rem + 0.25vw);
    font-style: italic;
    font-weight: 600;
    padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
    position: fixed;
    left: calc(1rem + 0.5vw);
    top: calc(#{$navbar-mobile-spacer-height} - 5vh);
    transition: $navbar-transition;
    width: max-content;
    z-index: 1;
    & .icon-phone {
      height: calc(1.5rem + 0.25vw);
      & circle {
        fill: $primary-color;
      }
      & path {
        fill: $senary-color;
        transition: $navbar-transition;
      }
    }
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      transition: $navbar-transition;
      & .icon-phone{
        & path {
          fill: $secondary-color;
          transition: $navbar-transition;
        }
      }
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// Navbar "Free Estimate" Button
.nav-free-estimate {
  background-color: $senary-color;
  border: 2px solid $secondary-color;
  border-radius: calc(1rem + 0.1vw);
  color: $primary-color;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
  position: fixed;
  right: calc(1rem + 0.5vw);
  transition: $navbar-transition;
  width: max-content;
  z-index: 1;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (max-width: 767.98px) {
    top: calc(#{$navbar-mobile-spacer-height} - 5vh);
  }
  @media (min-width: 768px) {
    &.nav-free-estimate-maximized {
      top: calc(#{$navbar-desktop-spacer-height} + 5vh);
    }
    &.nav-free-estimate-minimized {
      top: calc(#{$navbar-desktop-spacer-height});
    }
  }
}