$navbar-transition: 0.2s ease-in;
$navbar-brand-transition: 0.35s ease-out;
$navbar-free-quote-minimize-transition: 0.2s ease-in;
$navbar-free-quote-hover-transition: 0.15s ease-in;
$navbar-call-phone-hover-transition: 0.15s ease-in;

// Navbar
// nbni = navbar not initials
// nbsh = navbar subheading
.navbar {
  background-color: $senary-color;
  border-bottom: 2px solid $secondary-color;
  position: fixed;
  width: 100%;
  z-index: 10;
  // & .rns-logo-wrapper {
  //   background-image: 
  //     linear-gradient(
  //       rgba(2, 3, 5, 0.25),
  //       rgba(2, 3, 5, 0.25),
  //     ),
  //     url('/static/img/R&S-logo.jpg');
  //   height: 10vh;
  //   width: 10vh;
  // }
  & .rns-logo {
    height: 20vh;
    width: 20vh;
  }
  // & .navbar-brand {
  //   color: $secondary-color;
  //   font-family: "Stencil", "Segoe UI", sans-serif;
  //   font-size: calc(1.25rem + 1vw);
  //   line-height: 1;
  //   padding: 0;
  //   margin: 0;
  //   text-align: center;
    // @media (max-width: 767.98px) {
    //   & .nbni-dash {
    //     display: none;
    //   }
    //   & .nbsh {
    //     display: none;
    //   }
    // }
    // @media (min-width: 768px) {
      // &.expand {
        // & .nbni {
        //   transition: $navbar-brand-transition;
        // }
        // & .nbni-dash {
        //   opacity: 0;
        //   transition: $navbar-brand-transition;
        // }
        // & .nbsh {
        //   display: block;
        //   font-size: calc(1rem + 1vw);
        //   opacity: 1;
        //   transition: $navbar-brand-transition;
        // }
      // }
      // &.shrink {
        // & .nbni {
        //   font-size: 0;
        //   opacity: 0;
        //   transition: $navbar-brand-transition;
        // }
        // & .nbni-dash {
        //   opacity: 1;
        //   transition: $navbar-brand-transition;
        // }
        // & .nbsh {
        //   display: block;
        //   font-size: 0;
        //   opacity: 0;
        //   transition: $navbar-brand-transition;
        // }
      // }
    // }
  // }
  & .navbar-phone {
    color: $primary-color;
    display: block;
    font-size: calc(1.25rem + 0.5vw);
    font-style: italic;
    font-weight: 700;
    left: 35vw;
    position: absolute;
    @media (max-width: 1060px) {
      display: none;
    }
    & .icon-phone {
      height: calc(1rem + 1vw);
      width: calc(1rem + 1vw);
      & circle {
        fill: $primary-color;
      }
      & path {
        fill: $senary-color-rgba;
      }
    }
  }
  & .navbar-toggler {
    & .icon-hamburger {
      height: calc(1rem + 0.5vw);
      width: calc(1rem + 0.5vw);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  & .nav-link {
    color: $primary-color;
    font-size: calc(0.75rem + 0.5vw);
    margin: calc(1rem + 0.5vw) auto;
    padding: 0;
    position: relative;
    transition: $navbar-transition;
    width: max-content;
    &::before,
    &::after {
      background-color: $primary-color;
      bottom: calc(-0.1rem - 0.1vw);
      content: "";
      height: calc(0.05rem + 0.1vw);
      position: absolute;
      transition-duration: 0.15s;
      width: 0;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &.active {
      &::before,
      &::after {
        width: 50%;
      }
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
      &::before,
      &::after {
        background-color: $primary-color;
        width: 50%;
      }
    }
    @media (max-width: 767.98px) {
      font-size: calc(1rem + 0.25vw);
    }
  }
  @media (min-width: 768px) {
    margin: 0;
    transition: $navbar-transition;
    @include senary-color-rgba-background(0.8);
    &.navbar-minimized-false {
      padding: calc(0.5rem + 1vw);
    }
    &.navbar-minimized-true {
      background-color: $senary-color;
      height: auto;
      padding: calc(0.25rem + 0.5vw) calc(1.25rem + 1vw);
      position: fixed;
      top: 0;
      z-index: 10;
    }
  }
}

// Navbar "Call Now" Button
.navbar-call-now {
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767.98px) {
    background-color: $senary-color;
    border: 2px solid $secondary-color;
    border-radius: calc(1rem + 0.1vw);
    color: $primary-color;
    display: flex;
    font-size: calc(1rem + 0.25vw);
    font-style: italic;
    font-weight: 600;
    padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
    position: fixed;
    left: calc(1rem + 0.5vw);
    top: calc(4.5rem + 0.5vw);
    transition: $navbar-call-phone-hover-transition;
    width: max-content;
    z-index: 1;
    & .icon-phone {
      height: calc(1.5rem + 0.25vw);
      & circle {
        fill: $primary-color;
      }
      & path {
        fill: $senary-color;
        transition: $navbar-call-phone-hover-transition;
      }
    }
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      transition: $navbar-call-phone-hover-transition;
      & .icon-phone{
        & path {
          fill: $secondary-color;
          transition: $navbar-call-phone-hover-transition;
        }
      }
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// Navbar "Free Estimate" Button
.navbar-free-quote {
  background-color: $senary-color;
  border: 2px solid $secondary-color;
  border-radius: calc(1rem + 0.1vw);
  color: $primary-color;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
  position: fixed;
  right: calc(1rem + 0.5vw);
  top: calc(4.5rem + 0.5vw);
  transition: $navbar-free-quote-minimize-transition;
  width: max-content;
  z-index: 1;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transition: $navbar-free-quote-hover-transition;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (min-width: 768px) {
    &.navbar-free-quote-minimized-false {
      top: calc(8rem + 3vw);
    }
    &.navbar-free-quote-minimized-true {
      top: calc(6rem + 3vw);
    }
  }
}