// Services Page
.services-page {
  padding: 0;

  .row {
    margin: 0;
  }

  // Background Image
  & .services-page-background {
    background-image: 
      linear-gradient(
        rgba(2, 3, 5, 0.25),
        rgba(2, 3, 5, 0.25),
      ),
      url('/static/img/house-01.jpg');
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @extend %background-fixed;
  }

  // Navbar Spacer
  & .navbar-spacer {
    background-color: $primary-color;
    height: 15vh;
    @media (max-width: 767.98px) {
      height: 20vh;
    }
  }

  // Services Headline
  & .services-headline {
    background-color: $primary-color;
    & h1 {
      color: $quinary-color;
      font-size: calc(1.5rem + 1vw);
      margin: auto;
    }
  }

  // Section 1, Cards
  $section-1-hover-transition: 0.2s ease-in;

  & .section-1-row {
    background-color: $primary-color;
    height: max-content;
    padding: 0 calc(1rem + 6vw);
    & .card {
      border: 0;
      border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
      display: inline-flex;
      margin: calc(2rem + 0.5vw) auto;
      transition: $section-1-hover-transition;
      & .card-image {
        &::before {
          border: 4px solid $secondary-color;
          content: '';
          position: absolute;
          top: 0;
          transition: $section-1-hover-transition;
          @extend %card-background;
        }
      }
      & .card-background-fence-cleaning {
        background-image: url('/static/img/fence-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-surface-cleaning {
        background-image: url('/static/img/walkway-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-soft-wash {
        background-image: url('/static/img/house-04.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-outdoor-stain-removal {
        background-image: url('/static/img/rusty-wall-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-background-deck-cleaning-and-restoration {
        background-image: url('/static/img/deck-01.jpg');
        margin: auto;
        @extend %card-background;
        @extend %background-fixed;
      }
      & .card-body {
        color: $quinary-color;
        font-size: calc(1rem + 0.25vw);
        font-weight: 700;
        padding: calc(0.25rem + 0.25vw) 0 0 0;  // padding: 20px by default
        text-align: center;
        transition: $section-1-hover-transition;
      }
      & .card-link {
        height: max-content;
        padding-bottom: calc(0.5rem + 0.25vw);
        & .card-link-text {
          color: $quinary-color;
          font-size: calc(1rem + 0.25vw);
          margin-right: calc(0.5rem + 0.5vw);
          position: relative;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $quinary-color;
          height: calc(1rem + 0.25vw);
          stroke: $primary-color;
          transition: $section-1-hover-transition;
        }
      }
      &:hover {
        cursor: pointer;
        & .card-image {
          &::before {
            transition: $section-1-hover-transition;
            @include secondary-color-rgba-background(0.5);
          }
        }
        & .card-body {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .card-link-text {
          color: $secondary-color;
          transition: $section-1-hover-transition;
        }
        & .icon-arrow-right {
          fill: $secondary-color;
          transition: $section-1-hover-transition;
        }
      }
    }
  }
}