@import 'colors';

%background-fixed {
  background-color: $quinary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%background-image {
  background-image: 
  linear-gradient(
    rgba(2, 3, 5, 0.25),
    rgba(2, 3, 5, 0.25),
  ),
  url('/static/img/house-02.jpg');
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

%card-background {
  border-radius: calc(0.5rem + 8vw);
  height: calc(1rem + 16vw);
  width: calc(1rem + 16vw);
  @media (max-width: 767.98px) {
    border-radius: calc(0.5rem + 25vw);
    height: calc(1rem + 50vw);
    width: calc(1rem + 50vw);
  }
}

$navbar-desktop-spacer-height: 30vh;
$navbar-mobile-spacer-height: 25vh;

%navbar-spacer {
  background-color: $primary-color;
  height: calc(#{$navbar-desktop-spacer-height});
  @media (max-width: 767.98px) {
    height: calc(#{$navbar-mobile-spacer-height});
  }
}

@import 'about';
@import 'contact';
@import 'fonts';
@import 'footer';
@import 'index';
@import 'navbar';
@import 'our-work';
@import 'recaptcha';
@import 'services';
@import 'thanks';
@import 'individual-service';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
  scroll-behavior: smooth;
}

// Override the padding and scroll-hiding css properties of bootstrap on modals
// https://stackoverflow.com/questions/25070144/bootstrap-modal-removes-scroll-bar
.modal-open {
  padding: 0 !important;
  overflow-y: scroll;
}