@import 'colors';

%background-fixed {
  background-color: $quarternary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%card-background {
  border: 4px solid $secondary-color;
  border-radius: calc(0.5rem + 8vw);
  height: calc(1rem + 16vw);
  width: calc(1rem + 16vw);
  @media (max-width: 768px) {
    border-radius: calc(0.5rem + 25vw);
    height: calc(1rem + 50vw);
    width: calc(1rem + 50vw);
  }
}

@import 'about';
@import 'contact';
@import 'fonts';
@import 'footer';
@import 'index';
@import 'navbar';
@import 'ourwork';
@import 'recaptcha';
@import 'services';
@import 'thanks';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
  scroll-behavior: smooth;
}

// Override the padding and scroll-hiding css properties of bootstrap on modals
// https://stackoverflow.com/questions/25070144/bootstrap-modal-removes-scroll-bar
.modal-open {
  padding: 0 !important;
  overflow-y: scroll;
}