.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.index-page .section-1-row .card .card-background-fence-cleaning, .index-page .section-1-row .card .card-background-surface-cleaning, .index-page .section-1-row .card .card-background-soft-wash, .index-page .section-1-row .card .card-background-outdoor-stain-removal, .index-page .section-1-row .card .card-background-deck-cleaning-and-restoration, .services-page .section-1-row .card .card-background-fence-cleaning, .services-page .section-1-row .card .card-background-surface-cleaning, .services-page .section-1-row .card .card-background-soft-wash, .services-page .section-1-row .card .card-background-outdoor-stain-removal, .services-page .section-1-row .card .card-background-deck-cleaning-and-restoration {
  background-color: #182013;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-page .section-1-row .card .card-image::before, .index-page .section-1-row .card .card-background-fence-cleaning, .index-page .section-1-row .card .card-background-surface-cleaning, .index-page .section-1-row .card .card-background-soft-wash, .index-page .section-1-row .card .card-background-outdoor-stain-removal, .index-page .section-1-row .card .card-background-deck-cleaning-and-restoration, .services-page .section-1-row .card .card-image::before, .services-page .section-1-row .card .card-background-fence-cleaning, .services-page .section-1-row .card .card-background-surface-cleaning, .services-page .section-1-row .card .card-background-soft-wash, .services-page .section-1-row .card .card-background-outdoor-stain-removal, .services-page .section-1-row .card .card-background-deck-cleaning-and-restoration {
  border-radius: calc(0.5rem + 8vw);
  height: calc(1rem + 16vw);
  width: calc(1rem + 16vw);
}

@media (max-width: 767.98px) {
  .index-page .section-1-row .card .card-image::before, .index-page .section-1-row .card .card-background-fence-cleaning, .index-page .section-1-row .card .card-background-surface-cleaning, .index-page .section-1-row .card .card-background-soft-wash, .index-page .section-1-row .card .card-background-outdoor-stain-removal, .index-page .section-1-row .card .card-background-deck-cleaning-and-restoration, .services-page .section-1-row .card .card-image::before, .services-page .section-1-row .card .card-background-fence-cleaning, .services-page .section-1-row .card .card-background-surface-cleaning, .services-page .section-1-row .card .card-background-soft-wash, .services-page .section-1-row .card .card-background-outdoor-stain-removal, .services-page .section-1-row .card .card-background-deck-cleaning-and-restoration {
    border-radius: calc(0.5rem + 25vw);
    height: calc(1rem + 50vw);
    width: calc(1rem + 50vw);
  }
}

.about-page .navbar-spacer, .contact-page .navbar-spacer, .our-work-page .navbar-spacer, .services-page .navbar-spacer, .thanks-page .navbar-spacer, .individual-service-page .navbar-spacer {
  background-color: white;
  height: calc(30vh);
}

@media (max-width: 767.98px) {
  .about-page .navbar-spacer, .contact-page .navbar-spacer, .our-work-page .navbar-spacer, .services-page .navbar-spacer, .thanks-page .navbar-spacer, .individual-service-page .navbar-spacer {
    height: calc(25vh);
  }
}

.about-page {
  padding: 0;
}

.about-page .row {
  margin: 0;
}

.about-page .about-headline {
  background-color: white;
  padding: calc(1rem + 0.5vw);
}

.about-page .about-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.about-page .about-headline h1 .h1-brand-font {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.about-page .section-1-row {
  background-color: white;
  color: #182013;
  padding: 0 calc(1rem + 6vw) calc(1rem + 6vw) calc(1rem + 6vw);
}

.about-page .section-1-row .section-1-header {
  font-size: calc(1rem + 1vw);
  margin-bottom: calc(1rem + 0.25vw);
  text-align: center;
}

.about-page .section-1-row .section-1-paragraph {
  font-size: calc(1rem + 0.1vw);
}

.about-page .img-col {
  padding: 0;
}

.about-page .rns-logo-jpg {
  display: block;
  margin: auto;
  width: 20vw;
}

@media (max-width: 767.98px) {
  .about-page .rns-logo-jpg {
    width: 70vw;
    margin-bottom: calc(2rem + 1vw);
  }
}

.contact-page {
  padding: 0;
}

.contact-page .row {
  margin: 0;
}

.contact-page .contact-headline {
  background-color: white;
  padding: calc(1rem + 0.5vw);
}

.contact-page .contact-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.contact-page .contact-headline h1 .h1-brand-font {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.contact-page .section-1-row {
  background-color: white;
  color: #182013;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: calc(0.25rem + 3.75vw);
  text-align: center;
}

.contact-page .section-1-row .section-1-text .section-1-text-headline {
  font-size: calc(1rem + 1.5vw);
  font-weight: 700;
  margin-bottom: calc(2rem + 0.5vw);
}

.contact-page .section-1-row .section-1-text .section-1-text-headline .section-1-text-headline-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 800;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph {
  font-size: calc(1rem + 0.5vw);
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph .section-1-text-paragraph-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 700;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-urgent {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-email {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email {
  height: calc(1.5rem + 1vw);
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email circle {
  fill: #182013;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email path {
  fill: white;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-phone {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
  margin-bottom: calc(1rem + 1vw);
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone {
  height: calc(1.5rem + 1vw);
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone circle {
  fill: #182013;
}

.contact-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone path {
  fill: white;
}

.alert {
  display: inline-block;
  font-size: calc(1rem + 0.5vw);
  font-weight: 700;
  text-align: center;
}

.contact-form-heading {
  background-color: #020305;
  border-left: 2px solid #F3D333;
  border-radius: calc(1rem + 0.1vw) calc(1rem + 0.1vw) 0 0;
  border-right: 2px solid #F3D333;
  border-top: 2px solid #F3D333;
  padding: calc(0.5rem + 0.25vw);
}

.contact-form-heading h2 {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
}

.contact-form {
  background-color: #020305;
  border-bottom: 2px solid #F3D333;
  border-left: 2px solid #F3D333;
  border-radius: 0 0 calc(1rem + 0.1vw) calc(1rem + 0.1vw);
  border-right: 2px solid #F3D333;
  margin: auto;
  padding: calc(1rem + 1vw);
  width: 100%;
}

.contact-form button {
  background-color: white;
  border: none;
  border-radius: calc(0.5rem + 0.1vw);
  color: #182013;
  display: block;
  font-weight: 700;
  font-size: calc(1rem + 0.25vw);
  margin: auto;
  padding: calc(0.25rem + 0.5vw) calc(1rem + 1vw);
}

.contact-form button:hover {
  background-color: #F3D333;
  color: white;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.contact-form button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-form input {
  border: 2px solid #F3D333;
  border-radius: calc(0.5rem + 0.1vw);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #182013;
  display: block;
  height: calc(2.5rem + 1vw);
  outline: none;
  padding: calc(1rem + 0.1vw) 0 0 calc(0.5rem + 0.1vw);
  width: 100%;
}

.contact-form input::-webkit-input-placeholder {
  opacity: 0;
}

.contact-form input:-ms-input-placeholder {
  opacity: 0;
}

.contact-form input::-ms-input-placeholder {
  opacity: 0;
}

.contact-form input::placeholder {
  opacity: 0;
}

.contact-form input:focus {
  border: 2px solid #182013;
}

.contact-form label {
  color: #182013;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  left: calc(0.5rem + 0.1vw);
  position: absolute;
  top: 0;
}

.contact-form textarea {
  border: 2px solid #F3D333;
  border-radius: calc(0.5rem + 0.1vw);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #182013;
  display: block;
  outline: none;
  padding: calc(1rem + 0.1vw) 0 0 calc(0.5rem + 0.1vw);
  width: 100%;
}

.contact-form textarea::-webkit-input-placeholder {
  opacity: 0;
}

.contact-form textarea:-ms-input-placeholder {
  opacity: 0;
}

.contact-form textarea::-ms-input-placeholder {
  opacity: 0;
}

.contact-form textarea::placeholder {
  opacity: 0;
}

.contact-form textarea:focus {
  border: 2px solid #182013;
}

.contact-form input:focus ~ label,
.contact-form input:not(:placeholder-shown) ~ label,
.contact-form textarea:focus ~ label,
.contact-form textarea:not(:placeholder-shown) ~ label {
  color: #182013;
  font-size: calc(0.75rem + 0.1vw);
  top: calc(0.05rem + 0.05vw);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.contact-form .contact-form-input {
  margin-bottom: calc(1rem + 0.5vw);
  position: relative;
  text-align: left;
}

.contact-form .contact-form-input input[type='checkbox'] {
  display: inline;
  height: calc(1rem + 0.25vw);
  width: auto;
}

.contact-form .contact-form-input label[for='id_number_of_stories'],
.contact-form .contact-form-input label[for='id_type_of_exterior'],
.contact-form .contact-form-input label[for='id_fence_cleaning'],
.contact-form .contact-form-input label[for='id_surface_cleaning'],
.contact-form .contact-form-input label[for='id_soft_wash'],
.contact-form .contact-form-input label[for='id_outdoor_stain_removal'],
.contact-form .contact-form-input label[for='id_deck_cleaning'] {
  color: white;
  font-size: calc(1rem + 0.1vw);
  margin-bottom: 0;
  position: static;
}

.contact-form .required-field-asterisk {
  color: #182013;
}

.contact-form .required-field-text {
  color: white;
  font-size: calc(1rem + 0.25vw);
}

@font-face {
  font-family: "Stencil";
  font-display: swap;
  src: url("fonts/STENCIL.woff") format("woff");
}

.footer {
  background-color: rgba(2, 3, 5, 0.8);
}

.footer .footer-google-maps {
  border: 0;
  height: 100%;
  padding: calc(1rem + 1vw);
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer-google-maps {
    height: 35vh;
  }
}

@media (max-width: 767.98px) {
  .footer .footer-google-maps {
    height: 50vh;
  }
}

.footer .footer-brand {
  color: white;
  margin: calc(1rem + 1vw) 0;
  text-align: center;
}

.footer .footer-brand .footer-brand-headline {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
  font-size: calc(1.5rem + 1vw);
}

.footer .footer-brand .footer-brand-headline-sub {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
  font-size: calc(1rem + 1vw);
}

.footer .footer-brand .footer-brand-text {
  font-size: calc(1rem + 0.5vw);
  padding: 0 calc(1rem + 1vw);
}

.footer .footer-brand .footer-brand-text .footer-brand-text-strong {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.footer .footer-phone {
  color: white;
  margin: calc(1rem + 1vw) 0;
  text-align: center;
}

.footer .footer-phone .footer-phone-headline {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.footer .footer-phone .footer-phone-text {
  font-size: calc(1.5rem + 1vw);
  font-style: italic;
  font-weight: 800;
}

.footer .footer-phone .icon-phone {
  height: calc(2rem + 1vw);
}

.footer .footer-phone .icon-phone circle {
  fill: white;
}

.footer .footer-phone .icon-phone path {
  fill: rgba(2, 3, 5, 0.8);
}

.footer .footer-phone .footer-hours-of-operation-text {
  font-size: calc(1rem + 0.5vw);
  font-weight: 500;
}

.footer .footer-flair {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: calc(1rem + 1vw) 0;
}

.footer .footer-flair .footer-icon-flair-google {
  display: block;
  height: calc(3.5rem + 2.5vw);
}

.footer .footer-flair .footer-icon-flair-facebook {
  height: calc(3rem + 2.5vw);
}

.footer .footer-back-to-top-and-copyright {
  font-size: calc(1rem + 0.5vw);
  padding-bottom: calc(2rem + 2vw);
}

.footer .footer-back-to-top-and-copyright .footer-copyright {
  color: white;
  font-size: calc(0.75rem + 0.5vw);
  text-align: center;
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper button {
  border: 2px solid #F3D333;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 4rem;
  width: 4rem;
  background-color: rgba(2, 3, 5, 0);
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper button .arrow-up {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #F3D333;
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper button:hover {
  background-color: #F3D333;
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper button:hover .arrow-up {
  border-bottom-color: rgba(2, 3, 5, 0.8);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-back-to-top-and-copyright .back-to-top-arrow-up-wrapper button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .footer-back-to-top-and-copyright .footer-recaptcha {
  padding: calc(0.5rem + 0.5vw);
  text-align: center;
}

.index-page .landing-page-row .landing-page-placeholder {
  height: 90vh;
  width: 100%;
}

.index-page .landing-page-headline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(2, 3, 5, 0.8);
}

.index-page .section-1-row {
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 calc(1rem + 6vw);
}

.index-page .section-1-row .card-link {
  text-decoration: none;
}

.index-page .section-1-row .card {
  border: 0;
  border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
  display: block;
  margin: calc(2rem + 0.5vw) auto;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card .card-image::before {
  border: 4px solid #F3D333;
  content: '';
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card .card-background-fence-cleaning {
  margin: auto;
}

.index-page .section-1-row .card .card-background-surface-cleaning {
  margin: auto;
}

.index-page .section-1-row .card .card-background-soft-wash {
  margin: auto;
}

.index-page .section-1-row .card .card-background-outdoor-stain-removal {
  margin: auto;
}

.index-page .section-1-row .card .card-background-deck-cleaning-and-restoration {
  margin: auto;
}

.index-page .section-1-row .card .card-body {
  color: #182013;
  font-size: calc(1rem + 0.25vw);
  font-weight: 700;
  padding: calc(0.25rem + 0.25vw) 0 0 0;
  text-align: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card .card-link {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: calc(0.5rem + 0.25vw);
}

.index-page .section-1-row .card .card-link .card-link-text {
  color: #182013;
  font-size: calc(1rem + 0.25vw);
  margin-right: calc(0.5rem + 0.5vw);
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card .card-link .icon-arrow-right {
  fill: #182013;
  height: calc(1rem + 0.25vw);
  stroke: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card:hover {
  cursor: pointer;
}

.index-page .section-1-row .card:hover .card-image::before {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: rgba(243, 211, 51, 0.5);
}

.index-page .section-1-row .card:hover .card-body {
  color: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card:hover .card-link-text {
  color: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-1-row .card:hover .icon-arrow-right {
  fill: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.index-page .section-2-row {
  background-color: white;
  color: #182013;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: calc(0.25rem + 3.75vw);
  text-align: center;
}

.index-page .section-2-row .section-2-text .section-2-text-headline {
  font-size: calc(1rem + 1.5vw);
  font-weight: 700;
  margin-bottom: calc(2rem + 0.5vw);
}

.index-page .section-2-row .section-2-text .section-2-text-headline .section-2-text-headline-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 800;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph {
  font-size: calc(1rem + 0.5vw);
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph .section-2-text-paragraph-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 700;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-urgent {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-email {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-email .icon-email {
  height: calc(1.5rem + 1vw);
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-email .icon-email circle {
  fill: #182013;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-email .icon-email path {
  fill: white;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-phone {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
  margin-bottom: calc(1rem + 1vw);
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-phone .icon-phone {
  height: calc(1.5rem + 1vw);
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-phone .icon-phone circle {
  fill: #182013;
}

.index-page .section-2-row .section-2-text .section-2-text-paragraph-phone .icon-phone path {
  fill: white;
}

.navbar {
  background-color: #020305;
  border-bottom: 2px solid #F3D333;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width: 1059.96px) {
  .navbar .navbar-phone {
    display: none;
  }
}

@media (min-width: 1060px) {
  .navbar .navbar-phone {
    color: white;
    display: block;
    font-size: calc(1.25rem + 0.5vw);
    font-style: italic;
    font-weight: 700;
    left: 35vw;
    position: absolute;
  }
  .navbar .navbar-phone .icon-phone {
    height: calc(1rem + 1vw);
    width: calc(1rem + 1vw);
  }
  .navbar .navbar-phone .icon-phone circle {
    fill: white;
  }
  .navbar .navbar-phone .icon-phone path {
    fill: rgba(2, 3, 5, 0.8);
  }
}

.navbar .navbar-toggler .icon-hamburger {
  height: calc(1rem + 0.5vw);
  width: calc(1rem + 0.5vw);
}

.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .nav-link {
  color: white;
  margin: calc(1rem + 0.5vw) auto;
  padding: 0;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar .nav-link::before, .navbar .nav-link::after {
  background-color: white;
  bottom: calc(-0.1rem - 0.1vw);
  content: "";
  height: calc(0.05rem + 0.1vw);
  position: absolute;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  width: 0;
}

.navbar .nav-link::before {
  left: 50%;
}

.navbar .nav-link::after {
  right: 50%;
}

.navbar .nav-link.active::before, .navbar .nav-link.active::after {
  width: 50%;
}

.navbar .nav-link:hover {
  color: white;
  cursor: pointer;
}

.navbar .nav-link:hover::before, .navbar .nav-link:hover::after {
  background-color: white;
  width: 50%;
}

@media (max-width: 767.98px) {
  .navbar .nav-link {
    font-size: calc(1rem + 0.25vw);
  }
}

@media (min-width: 768px) {
  .navbar .nav-link {
    font-size: calc(0.75rem + 0.5vw);
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 100vh;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background-color: rgba(2, 3, 5, 0.8);
  }
  .navbar.navbar-minimized-false {
    height: calc(30vh);
    padding: calc(0.5rem + 1vw);
  }
  .navbar.navbar-minimized-true {
    background-color: #020305;
    height: calc(30vh - 5vh);
    padding: calc(0.25rem + 0.5vw) calc(1.25rem + 1vw);
  }
}

@media (min-width: 768px) {
  .nav-call-now {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .nav-call-now {
    background-color: #020305;
    border: 2px solid #F3D333;
    border-radius: calc(1rem + 0.1vw);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(1rem + 0.25vw);
    font-style: italic;
    font-weight: 600;
    padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
    position: fixed;
    left: calc(1rem + 0.5vw);
    top: calc(25vh - 5vh);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 1;
  }
  .nav-call-now .icon-phone {
    height: calc(1.5rem + 0.25vw);
  }
  .nav-call-now .icon-phone circle {
    fill: white;
  }
  .nav-call-now .icon-phone path {
    fill: #020305;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .nav-call-now:hover {
    background-color: #F3D333;
    color: white;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .nav-call-now:hover .icon-phone path {
    fill: #F3D333;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .nav-call-now:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav-free-estimate {
  background-color: #020305;
  border: 2px solid #F3D333;
  border-radius: calc(1rem + 0.1vw);
  color: white;
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
  position: fixed;
  right: calc(1rem + 0.5vw);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

.nav-free-estimate:hover {
  background-color: #F3D333;
  color: white;
}

.nav-free-estimate:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767.98px) {
  .nav-free-estimate {
    top: calc(25vh - 5vh);
  }
}

@media (min-width: 768px) {
  .nav-free-estimate.nav-free-estimate-maximized {
    top: calc(30vh + 5vh);
  }
  .nav-free-estimate.nav-free-estimate-minimized {
    top: calc(30vh);
  }
}

.our-work-page {
  padding: 0;
}

.our-work-page .row {
  margin: 0;
}

.our-work-page .our-work-headline {
  background-color: white;
  padding: calc(2rem + 0.5vw);
}

.our-work-page .our-work-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.our-work-page .our-work-headline h1 .h1-brand-font {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.our-work-page .our-work-subsection-heading {
  background-color: white;
  color: #182013;
  font-size: calc(1.25rem + 0.5vw);
  font-style: italic;
  margin-bottom: 0;
  padding-top: calc(1rem + 1vw);
  text-align: center;
}

.our-work-page .our-work-row {
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 calc(1rem + 3vw);
}

.our-work-page .our-work-row .our-work-baap-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: calc(1rem + 1vw) 0;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-before {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  margin-right: calc(0.25rem + 0.25vw);
  position: relative;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-before::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-before::before {
  background-color: #182013;
  color: white;
  content: "BEFORE";
  font-size: calc(0.5rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.1rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
  z-index: 1;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-after {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  position: relative;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-after::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-page .our-work-row .our-work-baap-group .our-work-baap-group-after::before {
  background-color: #182013;
  color: white;
  content: "AFTER";
  font-size: calc(0.5rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.1rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
  z-index: 1;
}

.our-work-page .our-work-row .our-work-baap-group img {
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vw;
}

@media (max-width: 767.98px) {
  .our-work-page .our-work-row .our-work-baap-group img {
    height: 20vh;
    width: 40vw;
  }
}

.our-work-page .our-work-row .our-work-baap-group:hover {
  cursor: pointer;
}

.our-work-page .our-work-row .our-work-baap-group:hover .our-work-baap-group-after::after,
.our-work-page .our-work-row .our-work-baap-group:hover .our-work-baap-group-before::after {
  height: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: rgba(243, 211, 51, 0.5);
}

.our-work-page .our-work-row .our-work-single-image-wrapper {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: calc(1rem + 1vw) 0;
}

.our-work-page .our-work-row .our-work-single-image-wrapper img {
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vw;
}

@media (max-width: 767.98px) {
  .our-work-page .our-work-row .our-work-single-image-wrapper img {
    height: 20vh;
    width: 40vw;
  }
}

.our-work-page .our-work-row .our-work-single-image-wrapper::after {
  content: '';
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-work-page .our-work-row .our-work-single-image-wrapper:hover {
  cursor: pointer;
}

.our-work-page .our-work-row .our-work-single-image-wrapper:hover::after {
  height: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: rgba(243, 211, 51, 0.5);
}

.our-work-page .modal .modal-dialog {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}

.our-work-page .modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .our-work-page .modal .modal-body {
    display: block;
  }
}

.our-work-page .modal .modal-baap-group-before {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  margin-right: calc(0.25rem + 0.25vw);
  position: relative;
  width: 100%;
}

.our-work-page .modal .modal-baap-group-before::before {
  background-color: #182013;
  color: white;
  content: "BEFORE";
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.5rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
}

@media (max-width: 767.98px) {
  .our-work-page .modal .modal-baap-group-before::before {
    font-size: calc(0.5rem + 0.1vw);
  }
}

@media (max-width: 767.98px) {
  .our-work-page .modal .modal-baap-group-before {
    margin-bottom: calc(0.25rem + 0.25vw);
    margin-right: 0;
  }
}

.our-work-page .modal .modal-baap-group-after {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  position: relative;
}

.our-work-page .modal .modal-baap-group-after::before {
  background-color: #182013;
  color: white;
  content: "AFTER";
  font-size: calc(1rem + 0.25vw);
  font-style: italic;
  font-weight: 600;
  left: calc(0.25rem + 0.25vw);
  padding: 0 calc(0.5rem + 0.1vw);
  position: absolute;
  top: calc(0.25rem + 0.25vw);
}

@media (max-width: 767.98px) {
  .our-work-page .modal .modal-baap-group-after::before {
    font-size: calc(0.5rem + 0.1vw);
  }
}

.our-work-page .modal .modal-single-image {
  border: calc(0.15rem + 0.15vw) solid #F3D333;
  width: 100%;
}

.our-work-page .modal .modal-content {
  border: 0;
}

.our-work-page .modal .modal-header {
  background-color: #F3D333;
}

.our-work-page .modal .modal-title {
  color: white;
  font-family: 'Stencil', 'Segoe UI', sans-serif;
  font-size: calc(1rem + 0.5vw);
}

.our-work-page .modal img {
  height: 100%;
  width: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .our-work-page .modal img {
    height: 100%;
    width: 75vw;
  }
}

.our-work-page .modal .close {
  color: white;
}

.our-work-page .modal .close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-recaptcha {
  color: white;
  font-size: calc(0.75rem + 0.25vw);
}

.footer-recaptcha a {
  color: #F3D333;
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer-recaptcha {
    margin-top: calc(2rem + 0.25vw);
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.services-page {
  padding: 0;
}

.services-page .row {
  margin: 0;
}

.services-page .services-headline {
  background-color: white;
  padding: calc(1rem + 0.5vw);
}

.services-page .services-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.services-page .section-1-row {
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 calc(1rem + 6vw);
}

.services-page .section-1-row .card {
  border: 0;
  border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
  display: block;
  margin: calc(2rem + 0.5vw) auto;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card .card-image::before {
  border: 4px solid #F3D333;
  content: '';
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card .card-background-fence-cleaning {
  margin: auto;
}

.services-page .section-1-row .card .card-background-surface-cleaning {
  margin: auto;
}

.services-page .section-1-row .card .card-background-soft-wash {
  margin: auto;
}

.services-page .section-1-row .card .card-background-outdoor-stain-removal {
  margin: auto;
}

.services-page .section-1-row .card .card-background-deck-cleaning-and-restoration {
  margin: auto;
}

.services-page .section-1-row .card .card-body {
  color: #182013;
  font-size: calc(1rem + 0.25vw);
  font-weight: 700;
  padding: calc(0.25rem + 0.25vw) 0 0 0;
  text-align: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card .card-link {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: calc(0.5rem + 0.25vw);
}

.services-page .section-1-row .card .card-link .card-link-text {
  color: #182013;
  font-size: calc(1rem + 0.25vw);
  margin-right: calc(0.5rem + 0.5vw);
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card .card-link .icon-arrow-right {
  fill: #182013;
  height: calc(1rem + 0.25vw);
  stroke: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card:hover {
  cursor: pointer;
}

.services-page .section-1-row .card:hover .card-image::before {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: rgba(243, 211, 51, 0.5);
}

.services-page .section-1-row .card:hover .card-body {
  color: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card:hover .card-link-text {
  color: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.services-page .section-1-row .card:hover .icon-arrow-right {
  fill: #F3D333;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.thanks-page {
  padding: 0;
}

.thanks-page .row {
  margin: 0;
}

.thanks-page .thanks-headline {
  background-color: white;
  padding: calc(1rem + 0.5vw);
}

.thanks-page .thanks-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.thanks-page .thanks-headline h1 .h1-brand-font {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.thanks-page .section-1-row {
  background-color: white;
  color: #182013;
  padding: 0 calc(0.25rem + 3.75vw) calc(0.25rem + 3.75vw) calc(0.25rem + 3.75vw);
  text-align: center;
}

.thanks-page .section-1-row .section-1-text-headline {
  font-size: calc(1rem + 1.5vw);
  font-weight: 600;
  margin: calc(1rem + 1vw) 0;
}

.thanks-page .section-1-row .section-1-text-headline .section-1-text-headline-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 700;
}

.thanks-page .section-1-row .section-1-text-paragraph {
  font-size: calc(1rem + 0.5vw);
  margin-bottom: calc(1rem + 1vw);
}

.thanks-page .section-1-row .section-1-text-paragraph .section-1-text-paragraph-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 700;
}

.thanks-page .section-1-row .section-1-text-paragraph-email {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.thanks-page .section-1-row .section-1-text-paragraph-email .icon-email {
  height: calc(1.5rem + 1vw);
}

.thanks-page .section-1-row .section-1-text-paragraph-email .icon-email circle {
  fill: #182013;
}

.thanks-page .section-1-row .section-1-text-paragraph-email .icon-email path {
  fill: white;
}

.thanks-page .section-1-row .section-1-text-paragraph-phone {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
  margin-bottom: calc(1rem + 1vw);
}

.thanks-page .section-1-row .section-1-text-paragraph-phone .icon-phone {
  height: calc(1.5rem + 1vw);
}

.thanks-page .section-1-row .section-1-text-paragraph-phone .icon-phone circle {
  fill: #182013;
}

.thanks-page .section-1-row .section-1-text-paragraph-phone .icon-phone path {
  fill: white;
}

.thanks-page .section-1-row .section-1-text-paragraph-urgent {
  font-size: calc(1rem + 0.5vw);
  font-style: italic;
  font-weight: 700;
}

.individual-service-page {
  padding: 0;
}

.individual-service-page .row {
  margin: 0;
}

.individual-service-page .individual-service-headline {
  background-color: white;
  padding: calc(1rem + 0.5vw);
}

.individual-service-page .individual-service-headline h1 {
  color: #182013;
  font-size: calc(1.5rem + 1vw);
  margin: auto;
  text-align: center;
}

.individual-service-page .individual-service-headline h1 .h1-brand-font {
  color: #F3D333;
  font-family: "Stencil", "Segoe UI", sans-serif;
}

.individual-service-page .section-1-row {
  background-color: white;
  color: #182013;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: calc(0.25rem + 3.75vw);
  text-align: center;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-headline {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  margin-bottom: calc(2rem + 0.5vw);
}

.individual-service-page .section-1-row .section-1-text .section-1-text-headline .section-1-text-headline-bold {
  color: #F3D333;
  font-weight: 600;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph {
  font-size: calc(1rem + 0.5vw);
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph .section-1-text-paragraph-bold {
  color: #F3D333;
  font-style: italic;
  font-weight: 700;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-urgent {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  font-weight: 700;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-email {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email {
  height: calc(1.5rem + 1vw);
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email circle {
  fill: #182013;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-email .icon-email path {
  fill: white;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-phone {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 700;
  margin-bottom: calc(1rem + 1vw);
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone {
  height: calc(1.5rem + 1vw);
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone circle {
  fill: #182013;
}

.individual-service-page .section-1-row .section-1-text .section-1-text-paragraph-phone .icon-phone path {
  fill: white;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.modal-open {
  padding: 0 !important;
  overflow-y: scroll;
}
/*# sourceMappingURL=main.css.map */