{% load static %}

<div class="container-fluid footer">
  <div class="row">

    <!-- Brand & Phone -->
    <div class="col-lg-4">
      <div class="footer-brand">
        <h1 class="footer-brand-headline">{% include 'business_information/name.html' %}</h1>
        <h2 class="footer-brand-headline-sub">PRESSURE WASHING</h2>
      </div>
      <div class="footer-phone">
        <h1 class="footer-phone-headline">Call us today for a Free Estimate!</h1>
        <p class="footer-phone-text">
          {% include 'svg/phone.svg' %} {% include 'business_information/phone-number.html' %}
        </p>
        <p class="footer-hours-of-operation-text">
          {% include 'business_information/hours-of-operation.html' %}
        </p>
      </div>
    </div>

    <!-- Lazy-load the footer map -->
    <script>
      function showMap() {
        document.querySelector('.footer-google-maps').src = "https://www.google.com/maps/d/embed?mid=1M99_6FQvTVBMWYAtWUuxLdrTQzM&hl=en&z=9"
      }
    </script>

    <div class="col-lg-4 footer-google-maps-wrapper">
      <iframe class="footer-google-maps"></iframe>
    </div>

    <!-- Flair -->
    <div class="col-lg-4 footer-flair">
      <a href="https://r-s-pressure-washing.business.site/">{% include 'svg/google.svg' %}</a>
      <a href="https://www.facebook.com/RandS0326/?ref=py_c">{% include 'svg/facebook.svg' %}</a>
    </div>

  </div>

  <!-- Back To Top & Copyright -->
  <div class="row footer-back-to-top-and-copyright">
    <div class="col-lg-4">
      <p class="footer-copyright">© 2019 {% include 'business_information/name.html' %} Pressure Washing</p>
    </div>
    <div class="col-lg-4">
      <div class="back-to-top-arrow-up-wrapper">
          <a href="#">
          <button>
            <div class="arrow-up"></div>
          </button>
          </a>
      </div>
    </div>
    <div class="col-lg-4">
      <p class="footer-recaptcha">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
    </div>
  </div>
</div>