{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Services in Waukesha, WI | Simple Clean</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Simple Clean offers fast & affordable pressure washing services in Waukesha, WI - increase your home's curb appeal and request a free quote today!">
{% endblock%}

{% block main %}
  <div class="container-fluid index-page">

    <!-- Landing Page -->
    <section class="row landing-page-row">
      <div class="landing-page-background"></div>
      <div class="col-12">

        <!-- Landing Page Headline (lph) -->
        <h2 class="landing-page-headline">

        </h2>

      </div>
      <div class="landing-page-placeholder"></div>
    </section>

    <div class="row landing-page-bottom-border"></div>

    <!-- Section 1 -->
    <section class="row section-1-row">
      
    </section>

    <!-- Section 2 -->
    <section class="row section-2-row">

    </section>


    <!-- Section 3 -->
    <section class="row section-3-row">

    </section>
  </div>
{% endblock %}