{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Services in Snead's Ferry, NC | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Restore & Shine offers fast & affordable pressure washing services in Snead's Ferry, NC - increase your home's curb appeal and request a free quote today!">
{% endblock%}

{% block main %}
  <div class="container-fluid index-page">

    <!-- Landing Page -->
    <section class="row landing-page-row">
      <div class="landing-page-background"></div>
      <div class="landing-page-placeholder"></div>
    </section>

    <div class="row">
      <h1 class="landing-page-headline">
        Pressure Washing Services in Snead's Ferry, NC
      </h1>
    </div>

    <!-- Section 1 -->
    <section class="row section-1-row">
      
    </section>

    <!-- Section 2 -->
    <section class="row section-2-row">

    </section>


    <!-- Section 3 -->
    <section class="row section-3-row">

    </section>
  </div>
{% endblock %}