{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Services in Snead's Ferry, NC | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Restore & Shine offers fast & affordable pressure washing services in Snead's Ferry, NC - increase your home's curb appeal and request a free quote today!">
{% endblock%}

{% block main %}
  <div class="container-fluid index-page">

    <!-- Landing Page -->
    <section class="row landing-page-row">
      <div class="landing-page-background"></div>
      <div class="landing-page-placeholder"></div>
    </section>

    <div class="row">
      <h1 class="landing-page-headline">
        Pressure Washing Services in {% include 'business_information/location.html' %}
      </h1>
    </div>

    <!-- Section 1, Cards -->
    <section class="row section-1-row">
      {% include 'services-cards.html' %}
    </section>

    <!-- Section 2, Contact Form -->
    <section class="row section-2-row">

      <!-- Contact Form Text -->
      <div class="col-md-6 section-2-text">
        <h2 class="section-2-text-headline">
          Get a <span class="section-2-text-headline-bold">Free Estimate</span> for 
          Pressure Washing Services in {% include 'business_information/location.html' %}!
        </h2>
        <p class="section-2-text-paragraph">
          It's quick & easy to request a Free Estimate. Send us a message using the
          online form, send us an email, or call us at <br>
          <span class="section-2-text-paragraph-bold">{% include 'business_information/phone-number.html' %}</span>.
        </p>
        <p class="section-2-text-paragraph-urgent">
          See what we can do for you today!
        </p>
        <p class="section-2-text-paragraph">
          {% include 'business_information/hours-of-operation.html' %}
        </p>
        <p class="section-2-text-paragraph-email">
          {% include 'svg/email.svg' %}
          {% include 'business_information/email.html' %}
        </p>
        <p class="section-2-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          {% include 'business_information/phone-number.html' %}
        </p>
      </div>

      <!-- Contact Form -->
      <div class="col-md-6">
        {% include 'contact_form/contact-form.html' %}
      </div>
    </section>
  </div>
{% endblock %}