{% load static %}

<nav class="navbar navbar-expand-md navbar-minimized-false">
  <img class="rns-logo" src="{% static 'img/R&S-logo.png' %}" alt="R & S Logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-rns" aria-controls="navbar-rns" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon-hamburger" src="{% static 'img/icon-hamburger.svg' %}">
  </button>

  <div class="collapse navbar-collapse" id="navbar-rns">
    <span class="navbar-phone">
      {% include 'svg/phone.svg' %}
      {% include 'business_information/phone-number.html' %}
    </span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-home" href="{% url 'index' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-about" href="{% url 'about' %}">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-services" href="{% url 'services' %}">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-our-work" href="{% url 'our-work' %}">OUR WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-contact" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<button class="nav-call-now align-items-center">
  {% include 'svg/phone.svg' %} &nbsp;
  Call Now
</button>

<button class="nav-free-estimate nav-free-estimate-maximized" data-url="{% url 'contact' %}" style="display: none;">
  Free Estimate
</button>
