{% load static %}

<nav class="navbar navbar-expand-md navbar-minimized-false">
  <h1 class="navbar-brand expand">
    <span class="nbni-dash">-</span>
    R<span class="nbni">ESTORE</span> &
    S<span class="nbni">HINE</span>
    <span class="nbni-dash">-</span>
    <span class="nbsh">PRESSURE WASHING</span>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-rns" aria-controls="navbar-rns" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon-hamburger" src="{% static 'img/icon-hamburger.svg' %}">
  </button>

  <div class="collapse navbar-collapse" id="navbar-rns">
    <span class="navbar-brand-phone">
      {% include 'svg/phone.svg' %}
      {% include 'business_information/phone-number.html' %}
    </span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-home" href="{% url 'index' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-about" href="{% url 'about' %}">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-services" href="{% url 'services' %}">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-our-work" href="{% url 'our-work' %}">OUR WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-contact" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<a href="tel:{{ phone_number }}">
  <button class="navbar-call-now align-items-center">
    {% include 'svg/phone.svg' %} &nbsp;
    Call Now
  </button>
</a>

<a href="{% url 'contact' %}">
  <button class="navbar-free-quote navbar-free-quote-minimized-false" style="display: none;">
    <span class="navbar-free-quote-large-text">Free Estimate</span>
  </button>
</a>