{% load static %}

<nav class="navbar navbar-expand-md navbar-minimized-false">
  <h1 class="navbar-brand align-items-center">
    RESTORE & SHINE
    <span class="navbar-brand-phone">{% include 'business_information/phone-number.html' %}</span>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-rns" aria-controls="navbar-rns" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon-hamburger" src="{% static 'img/icon-hamburger.svg' %}">
  </button>

  <div class="collapse navbar-collapse" id="navbar-rns">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-home" href="{% url 'index' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-services" href="{% url 'about' %}">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-services" href="{% url 'services' %}">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-ourwork" href="{% url 'ourwork' %}">OUR WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-contact" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<a href="tel:{{ phone_number }}">
  <button class="navbar-call-now align-items-center">
    {% include 'svg/phone.svg' %} &nbsp;
    Call Now
  </button>
</a>

<a href="{% url 'contact' %}">
  <button class="navbar-free-quote navbar-free-quote-minimized-false" style="display: none;">
    <span class="navbar-free-quote-large-text">Free Estimate</span>
  </button>
</a>