{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Restore Your Property To New Condition | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Let us restore your property to new condition! Pressure Washing Services in Sneads Ferry, NC.">
{% endblock%}

{% block main %}
  <div class="container-fluid our-work-page">

    <!-- Our Work Page Background Image -->
    <div class="our-work-page-background"></div>

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Our Work Headline -->
    <section class="row our-work-headline">
      <h1>
        Let Us 
        <span class="h1-brand-font">RESTORE</span>
        Your Property To New Condition!</h1>
    </section>

    <!-- Section 1, Before & After Pictures (BAAP), House Wash -->
    <section class="row section-1-row">
      <h2 class="section-1-subsection-heading">House Wash</h2>
    </section>

    <section class="row section-1-row">

      <!-- Section 1, BAAP, House 20 -->
      <div class="section-1-baap-group" 
        data-id="ba-house-20" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-20-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-20-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 21 -->
      <div class="section-1-baap-group" 
        data-id="ba-house-21" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-21-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-21-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 05 -->
      <div class="section-1-baap-group" 
        data-id="ba-house-05" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-05-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-05-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 06 -->
      <div class="section-1-baap-group"
        data-id="ba-house-06" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-06-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-06-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 07 -->
      <div class="section-1-baap-group"
        data-id="ba-house-07" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-07-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-07-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 08 -->
      <div class="section-1-baap-group"
        data-id="ba-house-08"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-08-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-08-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 09 -->
      <div class="section-1-baap-group"
        data-id="ba-house-09"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-09-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-09-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 12 -->
      <div class="section-1-baap-group"
        data-id="ba-house-12"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-12-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-12-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, House 13 -->
      <div class="section-1-baap-group"
        data-id="ba-house-13"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-house-13-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-house-13-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, Single Image, House 11 -->
      <div class="section-1-single-image-group"
        data-id="house-11"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-single-image-template"
      >
        <div class="section-1-single-image-wrapper">
          <img src="{% static 'img/house-11.jpg' %}">
        </div>
      </div>

    </section>

    <!-- Section 1, Before & After Pictures (BAAP), Wood Restoring -->
    <section class="row section-1-row">
      <h2 class="section-1-subsection-heading">Wood Restoring</h2>
    </section>

    <section class="row section-1-row">

      <!-- Section 1, BAAP, Wood Restoring 01 -->
      <div class="section-1-baap-group" 
        data-id="ba-wood-restoring-01" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-wood-restoring-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-wood-restoring-01-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Wood Restoring 02 -->
      <div class="section-1-baap-group" 
        data-id="ba-wood-restoring-02" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-wood-restoring-02-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-wood-restoring-02-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Wood Restoring 03 -->
      <div class="section-1-baap-group" 
        data-id="ba-wood-restoring-03" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-wood-restoring-03-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-wood-restoring-03-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Walkway 01 -->
      <div class="section-1-baap-group"
        data-id="ba-walkway-01"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-walkway-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-walkway-01-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Stair 03 -->
      <div class="section-1-baap-group"
        data-id="ba-stairs-03"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-stairs-03-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-stairs-03-after.jpg' %}">
        </div>
      </div>

    </section>

    <!-- Section 1, Before & After Pictures (BAAP), Oxidation Removal -->
    <section class="row section-1-row">
      <h2 class="section-1-subsection-heading">Oxidation Removal</h2>
    </section>

    <section class="row section-1-row">

      <!-- Section 1, BAAP, Oxidation Removal 01 -->
      <div class="section-1-baap-group" 
        data-id="ba-oxidation-removal-01" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-oxidation-removal-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-oxidation-removal-01-after.jpg' %}">
        </div>
      </div>
    
    </section>  

    <!-- Section 1, Before & After Pictures (BAAP), Stain Removal -->
    <section class="row section-1-row">
      <h2 class="section-1-subsection-heading">Stain Removal</h2>
    </section>

    <section class="row section-1-row">

      <!-- Section 1, BAAP, Stain Removal 01 -->
      <div class="section-1-baap-group" 
        data-id="ba-stain-removal-01" 
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-stain-removal-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-stain-removal-01-after.jpg' %}">
        </div>
      </div>
    
    </section> 

    <!-- Section 1, Before & After Pictures (BAAP), Unsorted -->
    <section class="row section-1-row">
      <h2 class="section-1-subsection-heading">Unsorted</h2>
    </section>

    <section class="row section-1-row">

      <!-- Section 1, BAAP, Driveway 01 -->
      <div class="section-1-baap-group"
        data-id="ba-driveway-01"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-driveway-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-driveway-01-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Patio 01 -->
      <div class="section-1-baap-group"
        data-id="ba-patio-01"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-patio-01-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-patio-01-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, BAAP, Sidewalk 03 -->
      <div class="section-1-baap-group"
        data-id="ba-sidewalk-03"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-baap-template"
      >
        <div class="section-1-baap-group-before">
          <img src="{% static 'img/ba-sidewalk-03-before.jpg' %}">
        </div>
        <div class="section-1-baap-group-after">
          <img src="{% static 'img/ba-sidewalk-03-after.jpg' %}">
        </div>
      </div>

      <!-- Section 1, Single Image, Porch 02 -->
      <div class="section-1-single-image-group"
        data-id="porch-02"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-single-image-template"
      >
        <div class="section-1-single-image-wrapper">
          <img src="{% static 'img/porch-02.jpg' %}">
        </div>
      </div>

      <!-- Section 1, Single Image, Sidewalk 02 -->
      <div class="section-1-single-image-group"
        data-id="sidewalk-02"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-single-image-template"
      >
        <div class="section-1-single-image-wrapper">
          <img src="{% static 'img/sidewalk-02.jpg' %}">
        </div>
      </div>

      <!-- Section 1, Single Image, Walkway 02, 35 -->
      <div class="section-1-single-image-group"
        data-id="walkway-02"
        data-src="{% static 'img' %}"
        data-toggle="modal" 
        data-target="#modal-single-image-template"
      >
        <div class="section-1-single-image-wrapper">
          <img src="{% static 'img/walkway-02.jpg' %}">
        </div>
      </div>

    </section>

    <!-- Section 1, BAAP Modals -->
    {% include 'modals/our-work-modals.html' %}
    
  </div>
{% endblock %}