{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Restore Your Property To New Condition With Our Pressure Washing Services | {% include 'business_information/name.html' %}</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Let us restore your property to new condition with pressure washing services in {% include 'business_information/location.html' %}.">
{% endblock%}

{% block main %}
  <div class="container-fluid our-work-page">

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Our Work Headline -->
    <section class="row our-work-headline">
      <h1>
        Let Us 
        <span class="h1-brand-font">RESTORE</span>
        Your Property To New Condition!</h1>
    </section>

    <!-- BAAP, Houses -->
    {% if House_Wash %}
      <h2 class="our-work-subsection-heading">House Wash</h2>
      <section class="row our-work-row">
        {% for image in House_Wash %}
          {% include 'our-work-img-template.html' %}
        {% endfor %}
      </section>
    {% endif %}

    <!-- BAAP, Wood Restoring -->
    {% if Wood_Restoring %}
      <h2 class="our-work-subsection-heading">Wood Restoring</h2>
      <section class="row our-work-row">
        {% for image in Wood_Restoring %}
          {% include 'our-work-img-template.html' %}
        {% endfor %}
      </section>
    {% endif %}

    <!-- BAAP, Oxidation Removal -->
    {% if Oxidation_Removal %}
      <h2 class="our-work-subsection-heading">Oxidation Removal</h2>
      <section class="row our-work-row">
        {% for image in Oxidation_Removal %}
          {% include 'our-work-img-template.html' %}
        {% endfor %}
      </section>
    {% endif %}

    <!-- BAAP, Wood Restoring -->
    {% if Stain_Removal %}
      <h2 class="our-work-subsection-heading">Stain Removal</h2>
      <section class="row our-work-row">
        {% for image in Stain_Removal %}
          {% include 'our-work-img-template.html' %}
        {% endfor %}
      </section>
    {% endif %}

    <!-- BAAP, No Category/Other Images -->
    {% if No_Category %}
      <h2 class="our-work-subsection-heading">Other Images</h2>
      <section class="row our-work-row">
        {% for image in No_Category %}
          {% include 'our-work-img-template.html' %}
        {% endfor %}
      </section>
    {% endif %}

    <!-- Section 1, BAAP Modals -->
    {% include 'modals/our-work-modals.html' %}
    
  </div>
{% endblock %}