<div class="our-work-baap-group" 
  data-category="{{ image.Category }}" 
  data-before-src="{{ image.Before_Picture.url }}"
  data-after-src="{{ image.After_Picture.url }}"
  data-toggle="modal" 
  data-target="#modal-baap-template"
>
  <div class="our-work-baap-group-before">
    <img src="{{ image.Before_Picture.url }}" alt="{{ image.Before_Picture_Description }}" />
  </div>
  <div class="our-work-baap-group-after">
    <img src="{{ image.After_Picture.url }}" alt="{{ image.After_Picture_Description }}" />
  </div>
</div>