{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Restore Your Property To New Condition With Our Pressure Washing Services | {% include 'business_information/name.html' %}</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Let us restore your property to new condition with pressure washing services in {% include 'business_information/location.html' %}.">
{% endblock%}

{% block main %}
  <div class="container-fluid our-work-page">

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Our Work Headline -->
    <section class="row our-work-headline">
      <h1>
        Let Us 
        <span class="h1-brand-font">RESTORE</span>
        Your Property To New Condition!</h1>
    </section>

    <!-- BAAP, Houses -->
    {% if Houses %}
      <h2 class="our-work-subsection-heading">House Wash</h2>
      <section class="row our-work-row">
        {% for image in Houses %}
          {% include 'our-work-baap.html' %}
        {% endfor %}
      </section>
    {% endif %}


    <!-- Section 1, BAAP Modals -->
    {% include 'modals/our-work-modals.html' %}
    
  </div>
{% endblock %}