{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Outdoor stain removal in Snead's Ferry, NC | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Restore & Shine offers outdoor stain removal in Snead's Ferry, NC - increase your home's curb appeal and request a free quote today!">
{% endblock%}

{% block main %}
  <div class="container-fluid individual-service-page">

    <!-- Individual Service Background Image -->
    <div class="individual-service-background"></div>

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Individual Service Headline -->
    <section class="row individual-service-headline">
      <h1>
        Outdoor Stain Removal in {% include 'business_information/location.html' %}
      </h1>
    </section>

    <!-- Section 1 -->
    <section class="row section-1-row">

      <!-- Individual Service Text -->
      <div class="col-md-6 section-1-text">
        <h2 class="section-1-text-headline">
          If your property is covered in rust,
          <span class="span section-1-text-headline-bold">we can blast it away</span>
          today!
        </h2>
        <p class="section-1-text-paragraph">
          We offer rust and other stain removal from a variety of flat and vertical surfaces
        </p>
        <p class="section-1-text-paragraph-urgent">
          Ask us about our outdoor stain and rust removal services!
        </p>
        <p class="section-1-text-paragraph">
          {% include 'business_information/hours-of-operation.html' %}
        </p>
        <p class="section-1-text-paragraph-email">
          {% include 'svg/email.svg' %}
          {% include 'business_information/email.html' %}
        </p>
        <p class="section-1-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          {% include 'business_information/phone-number.html' %}
        </p>
      </div>

      <!-- Contact Form -->
      <div class="col-md-6">
        {% include 'contact_form/contact-form.html' %}
      </div>
    </section>
  </div>
{% endblock %}