{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Fence Cleaning, Surface Cleaning, Soft Wash, Outdoor Stain Removal, Deck Cleaning & Restoration | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Restore & Shine is a pressure washing company located in Sneads Ferry, NC that offers fence cleaning, surface cleaning, soft wash services, outdoor stain removal, and deck cleaning & restoration. Contact us today for a free estimate!">
{% endblock%}

{% block main %}
  <div class="container-fluid services-page">

    <!-- Services Page Background Image -->
    <div class="services-page-background"></div>

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Services Headline -->
    <section class="row services-headline">
      <h1>Pressure Washing & Home Improvement Services</h1>
    </section>

    <!-- Section 1, Cards -->
    <section class="row section-1-row">
      {% include 'services-cards.html' %}
    </section>

  </div>
{% endblock %}