{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Fence Cleaning, Surface Cleaning, Soft Wash, Outdoor Stain Removal, Deck Cleaning & Restoration | {% include 'business_information/name.html' %}</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} is a pressure washing company located in {% include 'business_information/location.html' %} that offers fence cleaning, surface cleaning, soft wash services, outdoor stain removal, and deck cleaning & restoration. Contact us today for a free estimate!">
{% endblock%}

{% block main %}
  <div class="container-fluid services-page">

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Services Headline -->
    <section class="row services-headline">
      <h1>Pressure Washing & Home Improvement Services</h1>
    </section>

    <!-- Section 1, Cards, row 1 -->
    <div class="row section-1-row">
      {% include 'services-cards-row-1.html' %}
    </div>

    <!-- Section 1, Cards, row 2 -->
    <div class="row section-1-row">
      {% include 'services-cards-row-2.html' %}
    </div>

  </div>
{% endblock %}