{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Learn About Our Pressure Washing Company | Restore & Shine</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Restore & Shine is a pressure washing company located in Sneads Ferry, NC, and we love what we do!">
{% endblock%}

{% block main %}
  <div class="container-fluid services-page">

    <!-- Services Page Background Image -->
    <div class="services-page-background"></div>

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Services Headline -->
    <section class="row services-headline">
      <h1>Services</h1>
    </section>

    <!-- Section 1, Row 1, Cards -->
    <section class="row section-1-row">

      <!-- Fence Cleaning Card -->
      <div class="col-md-4">
        <div class="card card-first">
          <div class="card-image card-background-fence-cleaning"></div>
          <div class="card-body">
            <h2>Fence Cleaning</h2>
            <p>
              Want your dingy grey or green fence to look almost brand new again 
              without painting or staining? 
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
    
      <!-- Surface Cleaning Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-image card-background-surface-cleaning"></div>
          <div class="card-body">
            <h2>Surface Cleaning</h2>
            <p>
              Surface cleaning to get your walkway and driveway looking brand 
              new again, the correct way so there is no damage or have the dirt 
              come back when it fully dries right after service. 
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>

      <!-- Soft Wash Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-image card-background-soft-wash"></div>
          <div class="card-body">
            <h2>Soft Wash</h2>
            <p>
              We offer a safe soft wash for your home which kills and removes 
              the mold, algae and mildew. 
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 1, Row 2, Cards -->
    <section class="row section-1-row">

      <!-- Section 1, Row 2, Spacer -->
      <div class="col-md-2"></div>

      <!-- Outdoor Stain Removal -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-image card-background-outdoor-stain-removal"></div>
          <div class="card-body">
            <h2>Outdoor Stain Removal</h2>
            <p>
              We offer Rust removal from concrete, pavers, asphalt and most home 
              materials.
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>

      <!-- Deck Cleaning & Restoration -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-image card-background-deck-cleaning-and-restoration"></div>
          <div class="card-body">
            <h2>Deck Cleaning & Restoration</h2>
            <p>
              We can wash off mold, mildew, dirt, and everything else that your
              deck has endured over time.
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>

      <!-- Section 1, Row 2, Spacer -->
      <div class="col-md-2"></div>
    </section>
  </div>
{% endblock %}