{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Soft Wash Services in {% include 'business_information/location.html' %} | {% include 'business_information/name.html' %}</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="{% include 'business_information/name.html' %} offers soft wash services in {% include 'business_information/location.html' %} - increase your home's curb appeal and request a free quote today!">
{% endblock%}

{% block main %}
  <div class="container-fluid individual-service-page">

    <!-- Individual Service Background Image -->
    <div class="individual-service-background"></div>

    <!-- Navbar Spacer -->
    <div class="navbar-spacer"></div>

    <!-- Individual Service Headline -->
    <section class="row individual-service-headline">
      <h1>
        Soft Wash Services in {% include 'business_information/location.html' %}
      </h1>
    </section>

    <!-- Section 1 -->
    <section class="row section-1-row">

      <!-- Individual Service Text -->
      <div class="col-md-6 section-1-text">
        <h2 class="section-1-text-headline">
          Let us  
          <span class="span section-1-text-headline-bold">safely and effectively clean</span>
          your home and increase your property's curb appeal!
        </h2>
        <p class="section-1-text-paragraph">
            We offer a safe soft wash for your home which kills and removes the mold, algae and mildew.          <!-- <span class="section-1-text-paragraph-bold">Bold</span>. -->
        </p>
        <p class="section-1-text-paragraph-urgent">
          Ask us about our soft wash services today!
        </p>
        <p class="section-1-text-paragraph">
          {% include 'business_information/hours-of-operation.html' %}
        </p>
        <p class="section-1-text-paragraph-email">
          {% include 'svg/email.svg' %}
          {% include 'business_information/email.html' %}
        </p>
        <p class="section-1-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          {% include 'business_information/phone-number.html' %}
        </p>
      </div>

      <!-- Contact Form -->
      <div class="col-md-6">
        {% include 'contact_form/contact-form.html' %}
      </div>
    </section>
  </div>
{% endblock %}