<!-- Contact Form -->
<div class="contact-form-heading">
    <h2>Request A Free Estimate</h2>
  </div>
  <form class="contact-form" action="{% url 'contact-form:submit' %}" method="post">
    <fieldset>
      {% csrf_token %}
      {% for field in form %}
        <div class="contact-form-input">
          {{ field }}
          {{ field.label_tag }}
        </div>
      {% endfor %}
      <p class="required-field-text">* indicates a required field</p>
      <button type="submit" value="Submit">Get Your FREE Estimate!</button>
    </fieldset>
  </form>