
<!-- Show any messages/errors after a form submission (if any exist) -->
{% if messages %}
  {% for message in messages %}
    <div class="d-flex justify-content-center alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="d-flex justify-content-center alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}

<!-- Contact Form -->
<div class="contact-form-wrapper">
  <div class="contact-form-heading">
    <h2>Request A Free Estimate</h2>
  </div>
  <form class="contact-form" action="{% url 'contact-form:submit' %}" method="post">
    <fieldset>
      {% csrf_token %}
      {% for field in form %}
        <div class="contact-form-input">
          {{ field }}
          {{ field.label_tag }}
        </div>
      {% endfor %}
      <p class="required-field-text">* indicates a required field</p>
      <button type="submit" value="Submit">Get Your FREE Estimate!</button>
    </fieldset>
  </form>
</div>

<!-- reCAPTCHA V3 -->
<script>

  // Add event listeners to all contact form input fields that, when focused, 
  // will trigger the download of the reCAPTCHA API library
  document.querySelectorAll('input').forEach(input_field => {
    input_field.addEventListener('focus', getRecaptchaLibrary)
  })

  // Remove event listeners that trigger downloading the reCAPTCHA API library
  function removeRecaptchaEventListeners() {
    document.querySelectorAll('input').forEach(input_field => {
      input_field.removeEventListener('focus', getRecaptchaLibrary)
    })
  }

  // Create a <script> tag used to download the reCAPTCHA API library
  function getRecaptchaLibrary() {
    const script = document.createElement('script')
    script.src = 'https://www.google.com/recaptcha/api.js?render=6Lfnk68UAAAAAEfWhU7T8utsv1d-gS5q292sXXI1&onload=onloadCallback'
    document.querySelector('.contact-form-wrapper').appendChild(script)
    removeRecaptchaEventListeners()
  }

  // Execute this code as a part of a callback function appended to the end of
  // the reCAPTCHA API URL as an argument to the 'onload' parameter/key
  function onloadCallback() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6Lfnk68UAAAAAEfWhU7T8utsv1d-gS5q292sXXI1', {action: 'homepage'}).then(function(token) {

        // If '.contact-form' exists, the Google reCAPTCHA token will hitch a ride
        // with it to the backend
        if (document.querySelector('.contact-form')) {
          const input_recaptcha = document.createElement('input')
          input_recaptcha.style.display = 'none';
          input_recaptcha.setAttribute('name', 'g-recaptcha-response');
          input_recaptcha.value = token;
          document.querySelector('.contact-form').appendChild(input_recaptcha);
        };
      });
    });
  }
</script>