{% load static %}

<script>
  
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.background-image.blurred-image').classList.add('hide-image')
    document.querySelector('.background-image.final-image').classList.add('show-image')
  })

</script>

<style>

  .background-image {
    background-color: #020305;
    background-position: center;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .background-image.blurred-image {
    background-image: url({% static 'img/house-01/375kb/1x-house-01-50.jpg' %});
    filter: blur(4px);
    opacity: 1;
  }

  .background-image.blurred-image.hide-image {
    opacity: 0;
    transition: 1s ease-in-out;
  }

  .background-image.final-image {
    opacity: 0;
  }

  .background-image.final-image.show-image {
    opacity: 1;
    transition: 1s ease-in-out;
  }

  @media (min-width: 0px) {
    .background-image.final-image.show-image {
      background-image:                   url({% static 'img/house-01/375kb/1x-house-01-576.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/375kb/1x-house-01-576.webp' %}) 1x, url({% static 'img/house-01/375kb/2x-house-01-576.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/house-01/375kb/1x-house-01-576.jpg' %}) 1x, url({% static 'img/house-01/375kb/2x-house-01-576.jpg' %}) 2x);
    }
  }

  @media (min-width: 768px) {
    .background-image.final-image.show-image {
      background-image:                   url({% static 'img/house-01/375kb/1x-house-01-768.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/375kb/1x-house-01-768.webp' %}) 1x, url({% static 'img/house-01/375kb/2x-house-01-768.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/house-01/375kb/1x-house-01-768.jpg' %}) 1x, url({% static 'img/house-01/375kb/2x-house-01-768.jpg' %}) 2x);
    }
  }

  @media (min-width: 992px) {
    .background-image.final-image.show-image {
      background-image:                   url({% static 'img/house-01/375kb/1x-house-01-992.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/375kb/1x-house-01-992.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/375kb/1x-house-01-992.jpg' %}) 1x);
    }
  }

  @media (min-width: 1200px) {
    .background-image.final-image.show-image {
      background-image:                   url({% static 'img/house-01/375kb/1x-house-01-1200.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/375kb/1x-house-01-1200.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/375kb/1x-house-01-1200.jpg' %}) 1x);
    }
  }

  @media (min-width: 1440px) {
    .background-image.final-image.show-image {
      background-image:                   url({% static 'img/house-01/375kb/1x-house-01-1440.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/house-01/375kb/1x-house-01-1440.webp' %}) 1x);  
      background-image:         image-set(url({% static 'img/house-01/375kb/1x-house-01-1440.jpg' %}) 1x);
    }
  }

</style>

<div class="background-image blurred-image"></div>
<div class="background-image final-image"></div>
