{% load static %}

<script>

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.rns-logo').classList.add('show-image')
  })
  
</script>

<style scoped>

  .rns-logo {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 0px) {
    .rns-logo.show-image {
      background-image:                   url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-320.png' %});
      background-image: -webkit-image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-320.webp' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-320.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-320.png' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-320.png' %}) 2x);
    }
  }

  @media (min-width: 576px) {
    .rns-logo.show-image {
      background-image:                   url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-576.png' %});
      background-image: -webkit-image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-576.webp' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-576.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-576.png' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-576.png' %}) 2x);
    }
  }

  @media (min-width: 768px) {
    .rns-logo.show-image {
      background-image:                   url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-768.png' %});
      background-image: -webkit-image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-768.webp' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-768.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/deck-cleaning-and-restoration-01/140kb/1x-deck-cleaning-and-restoration-01-768.png' %}) 1x, url({% static 'img/deck-cleaning-and-restoration-01/140kb/2x-deck-cleaning-and-restoration-01-768.png' %}) 2x);
    }
  }

</style>

<div class="rns-logo"></div>
