{% load static %}

<script>

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.card-background-soft-wash').classList.add('show-image')
  })
  
</script>

<style>
  @media (min-width: 0px) {
    .card-background-soft-wash.show-image {
      background-image:                   url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-320.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-320.webp' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-320.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-320.jpg' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-320.jpg' %}) 2x);
    }
  }

  @media (min-width: 576px) {
    .card-background-soft-wash.show-image {
      background-image:                   url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-576.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-576.webp' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-576.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-576.jpg' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-576.jpg' %}) 2x);
    }
  }

  @media (min-width: 768px) {
    .card-background-soft-wash.show-image {
      background-image:                   url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-768.jpg' %});
      background-image: -webkit-image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-768.webp' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-768.webp' %}) 2x);  
      background-image:         image-set(url({% static 'img/soft-wash-01/140kb/1x-soft-wash-01-768.jpg' %}) 1x, url({% static 'img/soft-wash-01/140kb/2x-soft-wash-01-768.jpg' %}) 2x);
    }
  }

</style>

<div class="card-image card-background-soft-wash"></div>
